<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        section{
            display: grid;
            gap:20px;
            grid-template-columns: repeat(3,1fr);
        }

    </style>
</head>
<body>
    <h3>Job Search result</h3>
    <br>
    <h4>{{ search_word }}  : {{ job_number }} </h4>
        <a href="/export?word={{ search_word }} ">Export to CSV</a>
        <a class="btn btn-primary" href="/" role="button">Back</a>
        <section>
            <h4>title</h4>
            <h4>date</h4>
            <h4>lnik</h4>
            {% for item in result %} 
                <span>{{ item.title }}</span>
                <span>{{ item.date }}</span>
                <a href = "{{ item.link }}" target="_blank" >Apply</a>
            {% endfor %}
        </section>

</body>
</html>    